$Dark-cyan: hsl(185, 75%, 39%);
$Very-dark-desaturated-blue: hsl(229, 23%, 23%);
$Dark-grayish-blue: hsl(227, 10%, 46%);
$Dark-gray: hsl(0, 0%, 59%);

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: $Dark-cyan;
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.Container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card {
    background-color: white;
    width: 400px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.309);
    &__Header {
        width: 100%;
        display: block;
    }
    &__Body {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid rgba(153, 153, 153, 0.35);
        &-img {
            border: 6px solid white;
            border-radius: 50%;
            margin-top: calc(-48px - 5px);
            background-color: white;
        }
        &-title {
            margin-top: 2rem;
            font-size: 1.8rem;
            span {
                color: $Dark-gray;
                font-weight: 400;
            }
        }
        &-text {
            color: $Dark-gray;
            font-size: 1.6rem;
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }
    &__Footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-social {
            font-size: 1.5rem;
            text-align: center;
            margin: 2rem 0;
            p {
                color: $Dark-gray;
                letter-spacing: 1px;
            }
        }
    }
}


